{
  "minify": true,
  "jsc": {
    "baseUrl": "src",
    "paths": {
      "@lib/*": ["lib/*"],
      "@utils/*": ["utils/*"],
      "@types/*": ["types/*"],
      "@routes/*": ["routes/*"],
      "@services/*": ["services/*"],
      "@models/*": ["models/*"],
      "@controllers/*": ["controllers/*"],
      "@middlewares/*": ["middlewares/*"],
      "@interfaces/*": ["interfaces/*"],
      "@errors/*": ["errors/*"],
      "@config/*": ["config/*"]
    },
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2021",
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
